@import url("https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css");

.map {
    width: 100%;
    height: 30rem;
    display: flex;
}

.flex100 {
    max-width: 100%;
}

.column25{
    display: flex;
    max-width: 25%;
}

.navbarcustom {
    background-color:#BAF3DB;
}